img {
    width: 50vw; 
    height: 100vh; 
    background-size: cover;
}

.botao {
    margin-top: 2px;
    padding: 0.7rem 4.5rem;
    border-radius:0.5rem;
    color: #fff;
    background-color: #5d63f7;
    
}

.botao:hover{
    color: #fff;
}